$border: #0f0f0f;
$light_border: #5a5a5a;
$default_background: #f8f8f8;
$highlight_background: #00b3ee;
//////////////////////////
.editor {
  height: 560px;
  .editor-ui {
    width: 20%;
    height: 100%;
    float: left;
    border: 1px solid $border;
    padding: 0px;
    margin: 4px;

    .editor-ui-element {
      height: 32px;
      background-color: $default_background;
      border: 1px solid $border;
      margin: 4px;
      padding: 4px;
    }

    li {
      list-style-type: none;
    }
  }
  .editor-preview {
    width: 59%;
    height: 100%;
    float: left;
    padding: 8px;
    background: $default_background;
    .editor-frame {
      height: 100%;
      padding: 4px;
      background: #f0f2f5;
      border: 1px solid $border;
      ////////////////////////////////
      li {
        list-style-type: none;
      }
    }
    .dndDragover {
      background: $highlight_background;
    }
  }

  .editor-inspector {
    width: 20%;
    height: 100%;
    float: left;
    border: 1px solid $border;
    padding: 4px;
    .editor-structure {
      height: 160px;
      border: 1px solid $border;
      background: white;
      padding: 4px;
      margin-bottom: 4px;
      .editor-structure-item {
        border: 1px solid $light_border;
        height: 20px;
        width: 100%;
        &:hover {
          background: #9acfea;
        }
        &.active {
          background: #0b97c4;
        }
      }
    }
    .editor-data {
      height: calc(100% - 160px);
      background: darkgray;
      padding: 4px;
      .block-title {
        border: 1px solid black;
        width: 75px;
        float: left;
        height: 24px;
      }
      .block-body {
        float: left;
        width: 134px;
        height: 24px;
        &.small {
          width: 106px;
        }
      }
      .block-button {
        height: 24px;
      }
    }
  }

}

//////////////////////////////////////
