<div ng-controller="editor-controller" class="editor">
    <ul class="editor-ui">
        <li
                ng-repeat="w in widgets"
                class="editor-ui-element"
                dnd-draggable="w"
                dnd-type="w.type">
            {{w.name}}
        </li>
    </ul>

    <div class="editor-preview">
        <ul
                class="editor-frame"
                dnd-list="rootElement"
                dnd-allowed-types="availableTypes"
                dnd-disable-if="rootElement.length > 0"
                dnd-dragover="edDragoverCallback(type)"
                dnd-drop="edDropCallback(type)">
            <li
                    ng-repeat="element in rootElement">
                <ng-data-blocks
                        data="element">
                </ng-data-blocks>
            </li>
        </ul>
    </div>

    <div class="editor-inspector">
        <div class="editor-structure">
            <div
                    class="editor-structure-item"
                    ng-class="{'active': rootElement[0].active}"
                    ng-if="rootElement.length > 0"
                    ng-click="rootClicked()">
                <div class="item-title">{{rootElement[0].title}}</div>
                <button class="item-remove" ng-click="removeItem(0)"><span class="glyphicon glyphicon-minus"></span></button>
            </div>
        </div>

        <div class="editor-data">
            <div ng-if="activeElement">
                <div ng-repeat="field in editingfields">
                    <div class="block-title" title="{{field}}">{{field}}</div>
                    <input
                            type="text"
                            class="block-body"
                            ng-if="!isSpecial(field)"
                            ng-disabled="!isEditable(field)"
                            ng-model="activeElement[field]">

                    <div ng-if="isSpecial(field)">
                        <input
                                type="text"
                                class="block-body small"
                                value="..."
                                disabled="true">
                        <button
                            class="block-button"
                            ng-click="runSpecial(field)">...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
